<template>
  <div>
    <h1>{{ msg }}</h1>Firstname:
    <input type="text" v-model="firstname" />
    Lastname:
    <input type="text" v-model="lastname" />
    <br />
    <button @click="addCount()">Count</button>
    <button @click="resetCount()">Reset</button><br>
    <button @click="addCountfromStore()">Count Store</button>
    <h1>{{ count }}</h1>
    <h2 v-if="count == 5">{{ count }}</h2>
    <h1 v-for="(item,index) in listname" :key="item">index {{index}}-{{item}}</h1>
    <User v-for="item in userlist" :key=item :user=item></User>
  </div>
</template>

<script>
import User from './User'
export default {
  props: {
    msg: String
  },
  data () {
    return {
      count: 1,
      firstname: 'Phirathat',
      lastname: 'GOFF',
      listname: ['AA', 'BB'],
      userlist: [{
        firstname: 'Phirathat',
        lastname: 'GOFF',
        id: 62901
      },
      {
        firstname: 'use',
        lastname: 'use',
        id: 62902
      },
      {
        firstname: 'oop',
        lastname: 'java',
        id: 62902
      }]
    }
  },
  components: {
    User
  },
  methods: {
    addCountfromStore () {
      this.$store.commit('addCountfromStore')
    },
    addCount () {
      this.count++
    },
    resetCount () {
      this.count = 0
    }
  }
}
</script>

<style>
</style>
