<template>
  <div class="navbar">
    <v-btn outlined small color="primary" to="/" class="nav">Home</v-btn>
    <v-btn outlined small color="primary" to="/aboutme" class="nav">Add User</v-btn>
    <v-btn outlined small color="primary" to="/contact" class="nav">Contact</v-btn>
  </div>
</template>

<script>
export default {

}
</script>

<style>
.nav{
  margin: 10px;
}
</style>
