<template>
  <div>
    <h1>Product id: {{ product.id}}</h1>
    <h1>Product Name: {{ product.product_name}}</h1>
    <p>Product product_description: {{ product.product_description}}</p>
    <h1>----------------------------</h1>
  </div>
</template>

<script>
export default {
  props: ['product']

}
</script>

<style>
</style>
