<template>
  <div class="user">
    <h1>FirstName: {{user.firstname}}</h1>
    <h1>LastName: {{user.lastname}}</h1>
    <h1>ID: {{user.id}}</h1>
    <h1> {{count}}</h1>
  </div>
</template>

<script>
export default {
  props: {
    user: Object
  },
  computed: {
    count () {
      return this.$store.state.count
    }
  }
}
</script>

<style>
.user {
    width: 100%;
    background-color: rgb(245, 45, 88);
    color: aliceblue;
}
</style>
