<template>
  <div id="app">
    <navBar></navBar>
    <router-view class="views"></router-view>
  </div>
</template>

<script>
import navBar from './components/NavBar'
export default {
  components: {
    navBar
  }
}
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.views {
  margin: 60px;
}
</style>
