<template>
  <div class="user">
    <h1>Add User</h1>
    <v-row>
      <v-col class="col-6">
        <h2>Firstname:
          <v-text-field
            type="text"
            v-model="firstname"
          />
        </h2><br>
      </v-col>
      <v-col class="col-6">
        <h2>Lastname:
          <v-text-field
            type="text"
            v-model="lastname"
          />
        </h2><br>
      </v-col>
      <v-col class="col-12">
        <v-btn @click="addUser()"> Add</v-btn>
      </v-col>
    </v-row>
      <v-card
        v-for="j in justify"
        :key="j"
        :class="`d-flex justify-${j} mb-6`"
        color="grey lighten-2"
        flat
        tile
      >
        <v-card
          v-for="n in 1"
          :key="n"
          class="pa-2"
          outlined
          tile
        >
          Flex item
        </v-card>
      </v-card>
    </div>
</template>

<script>
export default {
  data: () => ({
    firstname: '',
    lastname: '',
    justify: [
      'start',
      'end',
      'center',
      'space-between',
      'space-around'
    ]
  }),
  methods: {
    addUser () {
      let newuser = {
        firstname: this.firstname,
        lastname: this.lastname
      }
      this.$store.commit('addUser', newuser)
      this.firstname = ''
      this.lastname = ''
    }
  }
}
</script>

<style>
.user {
  justify-content: center;
  align-content: center;
}
</style>
