<template>
  <div>
    <h1>
      {{product_name}}
    </h1>
    <v-btn @click="editProductName()">EDIT</v-btn><br><br>
    <Product
      v-for="product in productlist"
      :key="product"
      :product="product"
    ></Product>
  </div>
</template>

<script>
import Product from '../components/Product'
export default {
  components: {
    Product
  },
  computed: {
    product_name () {
      return this.$store.state.productModule.product_name
    },
    productlist () {
      return this.$store.state.productModule.productlist
    }
  },
  methods: {
    editProductName () {
      this.$store.commit('editProductName')
    }
  },
  mounted () {
    this.$store.commit('getAllProduct')
    // this.axios.get('http://192.168.75.24:8000/api/products/').then(
    //   (response) => {
    //     this.productlist = response.data
    //   })
  }
}

</script>

<style>
</style>
