<template>
  <div class="home">
    <div v-for="(item,index) in userlist" :key="index" class="user">
      <h1>Firstname: {{item.firstname}}</h1>
      <h1>Lastname: {{item.lastname}}</h1>
      <h1>--------------{{index+1}}-----------------</h1>
      <br>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    userlist () {
      return this.$store.state.userlist
    }
  }
}
</script>

<style>

</style>
